@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 81 53% 7%;
    --foreground: 83 52% 91%;

    --card: 82, 53%, 70%, 5%;
    --card-foreground: 83 52% 91%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 82 53% 70%;
    --primary-foreground: 81 53% 7%;

    --secondary: 118 53% 33%;
    --secondary-foreground: 81 53% 7%;

    --muted: 123 52% 53%;
    --muted-foreground: 83 52% 91%;

    --accent: 123 52% 53%;
    --accent-foreground: 81 53% 7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 118 53% 33%;
    --input: 123 52% 53%;
    --ring: 123 52% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas:
      'chart currentLoans'
      'fundLoan currentLoans';
  }
  .fundLoan {
    grid-area: fundLoan;
  }
  .currentLoans {
    grid-area: currentLoans;
  }
  .chart {
    grid-area: chart;
  }
  .kiwi {
    font-family: 'Lilita One', sans-serif;
  }
  .landing__container {
    min-height: 100vh;
    width: 100%;
    position: relative;
  }
  .landing__container > .landing__container--title {
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .landing__container > .landing__container--title > h1 {
    text-indent: -60px;
  }

  .landing__container > .landing__container--button {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
}
